body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dateDiv{
  margin-left: 80%;
}


.inAppButtons{
  width: 15vw;
  margin: 0.5%;
}

.cancelBtn{
  background-color:red;
  border: none;
  border-radius: 5px;
  color: white;
}

.transBtn{
  
  height: 4em;
  margin: 1%;
  
}
.headers{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
 
}

.loginHeader{
  padding: 1%;
  height: 6vw;
  color: white;
  background-color: rgb(87, 87, 255);
  margin-bottom: 5%;
  border-radius: 5px;
  
}

.clientHeader{
  background-color: rgb(87, 87, 255);
  color: white;
  height: 7vw;
  margin-bottom: 3%;
  
}

.loginBody{
  border: 1px solid blue;
  background-color: white;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  padding: 3%;
}

.editInp{
  margin: 5px;
  position: relative;
  
}

.welcomNote{
  height: 3rem;
  padding: 0.5rem;
  font-family: 'Goblin One', cursive;
  font-size: 1.2rem;
  border: 1px solid none;
  border-radius: 5px;
  background-color: rgb(87, 87, 255);
  color: white;
  margin-bottom: 1.9rem;
}

.balanceCard_Container{
  background-color: white;
  margin: auto;
  margin-bottom: 4%;
  padding: 2%;
  width: 40%;
  border: 2px solid blue;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.balanceWarnContainer{
  margin: auto;
  margin-bottom: 4%;
  padding: 2%;
  width: 40%;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.exitBtn{
  padding: auto;
  margin-top: 5%;
  height: 85%;
}


.loginButtonsStyle{
  width: 15vw;
  margin: 1%;
}

.loginInputs{
margin: 1%;
width: 15vw;
}

.loginInpDiv{
  margin: auto;
  
  
}

.balanceFrame{
  width: 45%;
  height: 4vw;
  padding: 2%;
  margin: auto;
  background-color: rgb(168, 168, 168);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.actionComp{
  position: relative;
  bottom: 50vh;
  background-color: white;
  border: 2px solid blue;
  border-radius: 5px;
  width: 30%;
  margin: auto;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.actionBtns{
  width: 25%;
  margin: 1%;
  padding: 1%;
}

.registerHeader{
  background-color: rgb(87, 87, 255);
  color: white;
  height: 7vw;
  padding: 1.5%;
  margin-bottom: 3%;
}

.registerInputs{
  width: 15vw;
  height: 3vw;
  margin: 0.5%;
}

.registerBtn {
  width: 15vw;
  margin: 0.5%;
}

.editRegisterHeader{
  background-color: rgb(87, 87, 255);
  color: white;
  height: 7vw;
  padding: 1.5%;
 
}

.editInputs{
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 1%;
  border: 2px solid blue;
  border-radius: 5px;
}

.editButtonsDiv{
  margin-top: 1%;
}

.editButtons{
  width: 15vw;
  margin: 0.5%;
}

.transactionsTable{
  margin: 2%;
  padding: 1%;
  border: 2px solid blue;
  border-radius: 5px;
  min-height: 25vw;

  background-color: white;
}


.transactionsLines{
  margin: 2%;
}

.transactionsHeader{
  background-color: rgb(87, 87, 255);
  color: white;
  height: 6vw;
  padding: 1.5%;
}

.adminHeader{
  background-color: rgb(87, 87, 255);
  color: white;
  height: 6vw;
  padding: 1.5%;
  margin-bottom: 2%;
}

.balanceCahngeFrame{
  width: 25%;
  height: 4vw;
  padding: 1%;
  margin: auto;
  background-color: rgb(168, 168, 168);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.balanceChangeCompContainer{
  position: relative;
  bottom: 72vh;
  width: 50%;
  margin: auto;
  padding: 1%;
  border: 2px solid blue;
  border-radius: 5px;
  min-height: 25vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
}

.balanceFrameManeger{
  width: 23%;
  height: 4vw;
  padding: 1%;
  margin: auto;
  background-color: rgb(168, 168, 168);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.newUserDataCard{
  padding: 1%;
  margin: auto;
  margin-bottom: 2%;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
}

.myName{
  background-color: rgb(33, 33, 138);
  align-items: center;
  padding: 0.2rem;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.footerDiv{
  margin-top: 1rem;
  padding-top: 1rem;
  background-color: rgb(119, 114, 114);
  height: 3rem;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
           
}

.hintGridDiv{
  text-align: start;
}

.premissionBtn{
  margin-left: 1rem;
}

.usersInputLoan{
  margin-left: 1rem;
}

.hintBtn{
  margin-right: 95%;
}